extend layout
block content  
    .container
      table.table.table-hover.table-bordered.bable-radius
        caption
          h1 #{title}            
        thead
          tr
            th &#x7528;&#x6237;&#x540D;                     
            th &#x5BC6;&#x7801;
            th 等级
            th 注册时间
            th 设置
            th 删除             
        tbody
          each user in users
            tr(class="id_#{user._id}") 
              td= user.name                  
              td= user.password
              td= user.role
              td #{moment(user.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}
              td: a.userSet(data-id="#{user._id}" data-toggle="modal" data-target="#myModal") 权限设置
              td: button.btn.btn-danger.del(type="button", data-id="#{user._id}") 删除
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          form(action="/user/set" method="post")
            .modal-header
              h3.modal-title 用户设置
            .modal-body
              input.uid(type="hidden" name="user[_id]")
              .form-group
                label 用户名
                input.form-control.name(type="text" name="user[name]")
              .form-group
                label 等级
                input.form-control.role(type="text" name="user[role]")
            .modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal")关闭
              button.btn.btn-success(type="submit")提交
    script(src="/javascripts/user.js")